<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let data of datauser">
      <ion-thumbnail slot="start">
         <img src="{{data.picture.thumbnail}}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{data.name.title}},{{data.name.first}} {{data.name.last}}</h3>
        <p>email: {{data.email}}</p>
        <p>Address: {{data.location.street}} {{data.location.city}}</p>
      </ion-label>
    
    </ion-item>
  </ion-list>
</ion-content>
